{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.excerpt }}</p>
                            <p class="author">Author: {{ post.author }}</p>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% empty %}
                <div class="col-12">
                    <h2 class="text-center text-danger">No published posts found in the database!</h2>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
